.btn:hover{
    -fx-background-color: grey;
}
.btn{
    -fx-background-color:  linear-gradient(to right, #3a6186, #89253e) !important;
}
.menu-bar{
    -fx-background-color: #431a20;
    -fx-font-size: 13px;
    -fx-font-family: Chalkboard;
    -fx-text-fill: #ff9266;
    -fx-border-radius: 5%;
}
.menu-item{
    -fx-font-family: Chalkboard;
}
.btnPokemon{
    -fx-background-color: #5b4f57;
    -fx-cursor: pointer;
    -fx-border-style: solid;
}
.btnPokemon:focused{
    -fx-background-color: grey;
}
#borderPanePlayGame{
    -fx-background-image: url("//src/resource/image/mewtwo2.jpg");
    -fx-background-size:  950 500;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
.progress-bar .bar {
    -fx-background-color:
            -fx-box-border,
            linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
            linear-gradient(to right, #ff7479, #fbff75, #86ff66); /* this line is the background color of the bar */
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}
